SUPABASE_URL=https://raxqzyhkqfbvaupoiwhz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJheHF6eWhrcWZidmF1cG9pd2h6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzY4MzYzNCwiZXhwIjoyMDg5MjU5NjM0fQ.veu7kQ1tVNxkd1xA3um1h_85qBY3FqE-KuSX-1C5yyg
RESEND_API_KEY=re_BeDvrKnt_NbnwNg9K21EWoChrbNAmirKb
CONTACT_FROM_EMAIL=onboarding@resend.dev
CONTACT_TO_EMAIL=findmydevice1731@gmail.com
